openapi: 3.0.3
info:
  title: Payments API
  version: 1.3.0
  description: Reference payments API used to demonstrate SDK generation and regeneration safety. Deliberately includes a discriminated union (paymentInstrument) because polymorphism is where SDK generators most often fail.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-mutation-log:
  - 'm01: add optional field to Payment'
  - 'm02: add GET /refunds/{refundId}'
  - 'm03: widen CardBrand enum'
servers:
- url: https://api.paycrest.io/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Payments
  description: Create and retrieve payments
- name: Refunds
  description: Refund previously captured payments
paths:
  /payments:
    get:
      tags:
      - Payments
      operationId: listPayments
      summary: List payments
      description: Returns a page of payments, most recent first.
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by payment status.
        schema:
          $ref: '#/components/schemas/PaymentStatus'
      - name: limit
        in: query
        required: false
        description: Maximum number of payments to return.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 25
      - name: cursor
        in: query
        required: false
        description: Opaque pagination cursor returned by a previous call.
        schema:
          type: string
      responses:
        '200':
          description: A page of payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPage'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
      - Payments
      operationId: createPayment
      summary: Create a payment
      description: Creates and attempts to authorize a payment against the supplied payment instrument.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: The created payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: The payment was declined by the processor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /payments/{paymentId}:
    parameters:
    - name: paymentId
      in: path
      required: true
      description: Identifier of the payment.
      schema:
        type: string
    get:
      tags:
      - Payments
      operationId: getPayment
      summary: Retrieve a payment
      responses:
        '200':
          description: The requested payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{paymentId}/refunds:
    parameters:
    - name: paymentId
      in: path
      required: true
      description: Identifier of the payment being refunded.
      schema:
        type: string
    post:
      tags:
      - Refunds
      operationId: refundPayment
      summary: Refund a payment
      description: Refunds all or part of a captured payment. Partial refunds are permitted up to the captured amount.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '201':
          description: The created refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: The refund exceeds the refundable amount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /refunds/{refundId}:
    parameters:
    - name: refundId
      in: path
      required: true
      description: Identifier of the refund.
      schema:
        type: string
    get:
      tags:
      - Refunds
      operationId: getRefund
      summary: Retrieve a refund
      responses:
        '200':
          description: The requested refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Merchant API token issued from the dashboard. Sent as `Authorization: Bearer <token>`.'
  responses:
    BadRequest:
      description: The request was malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No such resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaymentInstrument:
      description: A means of payment. The concrete shape is selected by the instrumentType discriminator.
      oneOf:
      - $ref: '#/components/schemas/CardInstrument'
      - $ref: '#/components/schemas/BankTransferInstrument'
      - $ref: '#/components/schemas/WalletInstrument'
      discriminator:
        propertyName: instrumentType
        mapping:
          card: '#/components/schemas/CardInstrument'
          bank_transfer: '#/components/schemas/BankTransferInstrument'
          wallet: '#/components/schemas/WalletInstrument'
    CardInstrument:
      type: object
      required:
      - instrumentType
      - last4
      - brand
      - expiryMonth
      - expiryYear
      properties:
        instrumentType:
          type: string
          enum:
          - card
        last4:
          type: string
          description: Last four digits of the card number.
          minLength: 4
          maxLength: 4
        brand:
          $ref: '#/components/schemas/CardBrand'
        expiryMonth:
          type: integer
          format: int32
          minimum: 1
          maximum: 12
        expiryYear:
          type: integer
          format: int32
        holderName:
          type: string
          nullable: true
          description: Cardholder name as printed. Absent for tokenized cards.
    BankTransferInstrument:
      type: object
      required:
      - instrumentType
      - accountLast4
      - bankName
      properties:
        instrumentType:
          type: string
          enum:
          - bank_transfer
        accountLast4:
          type: string
          minLength: 4
          maxLength: 4
        bankName:
          type: string
        mandateReference:
          type: string
          nullable: true
          description: Direct-debit mandate reference, when one exists.
    WalletInstrument:
      type: object
      required:
      - instrumentType
      - provider
      properties:
        instrumentType:
          type: string
          enum:
          - wallet
        provider:
          $ref: '#/components/schemas/WalletProvider'
        accountHandle:
          type: string
          nullable: true
          description: Masked wallet account handle.
    CardBrand:
      type: string
      description: Card network.
      enum:
      - visa
      - mastercard
      - amex
      - discover
    WalletProvider:
      type: string
      description: Wallet provider.
      enum:
      - apple_pay
      - google_pay
    PaymentStatus:
      type: string
      description: Lifecycle state of a payment.
      enum:
      - pending
      - authorized
      - captured
      - failed
    Currency:
      type: string
      description: ISO 4217 currency code.
      enum:
      - USD
      - EUR
      - GBP
    Money:
      type: object
      required:
      - amountMinor
      - currency
      properties:
        amountMinor:
          type: integer
          format: int64
          description: Amount in the minor unit of the currency (e.g. cents).
        currency:
          $ref: '#/components/schemas/Currency'
    CreatePaymentRequest:
      type: object
      required:
      - amount
      - instrument
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        instrument:
          $ref: '#/components/schemas/PaymentInstrument'
        description:
          type: string
          description: Free-text description shown on the customer statement.
        idempotencyKey:
          type: string
          description: Client-supplied key to make retries safe.
    Payment:
      type: object
      required:
      - id
      - status
      - amount
      - instrument
      - createdAt
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount:
          $ref: '#/components/schemas/Money'
        instrument:
          $ref: '#/components/schemas/PaymentInstrument'
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        capturedAt:
          type: string
          format: date-time
          nullable: true
          description: When the payment was captured. Null until capture.
        merchantReference:
          type: string
          nullable: true
          description: Merchant's own reference for this payment.
    PaymentPage:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        nextCursor:
          type: string
          nullable: true
          description: Cursor for the next page, or null on the last page.
    CreateRefundRequest:
      type: object
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        reason:
          type: string
          description: Operator-supplied reason for the refund.
    Refund:
      type: object
      required:
      - id
      - paymentId
      - amount
      - createdAt
      properties:
        id:
          type: string
        paymentId:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
        reason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Stable machine-readable error code.
        message:
          type: string
          description: Human-readable explanation.
        details:
          type: string
          nullable: true
